.tester {
    color: rgb(65, 172, 51);
}
.first {
    font-style: italic;
    font-weight:700;
}
.second {
    font-weight:900;
    font-style:normal;
    font-family:sans-serif;
}
.red {
    color:red;
}
.green {
    color:green;
}
.blue {
    color:blue;
}
.a {
    text-align:center;
}