* { margin: 0; padding: 0;}
body {
    background-color: #f0f0f3;
    width: 100vw;
    height: 100vh;
}
p.g{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: 1.5em Hind, sans-serif;
}
ul {
    text-align: center;
}
.neumorphism-box {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;

    border-radius: 50px;
    background-color: #f0f0f3;
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
}
