body {
    margin: 40px;
    display: flex;
    justify-content: center;
    }
.neumorphism-box {
    position:absolute;
    top: 40%;
    left: 40%;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    background-color: #f0f0f3;
    box-shadow: 10px 10px 21px #d3d3d6, -10px -10px 21px #fff;
    -webkit-animation: pulsing 5s 1;
    animation: pulsing 5s 1;
    }
    
    @-webkit-keyframes pulsing {
    0% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0)
    }
    100% {
    -webkit-transform: scale(2.0, 2.0);
    transform: scale(2.0, 2.0);
    }
    }
    
    @keyframes pulsing {
    0% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0)
    }
    100% {
    -webkit-transform: scale(2.0, 2.0);
    transform: scale(2.0, 2.0);
    }
    }
